@model DataAccess.Model.FitnessCentreUser
@{
    ViewBag.Title = "Registrace úspěšná";
    Layout = "~/Views/Shared/_LayoutSideless.cshtml";
}

<style type="text/css">
    .avatar {
        background-image: url(@Url.Content("~/uploads/profilePhoto/" + Model.ProfilePhotoName));
    }
</style>

<div class="text-center">
    <h2>Registrace dokončena!</h2>
</div>

<div class="success-container">
    <div class="avatar"></div>
    <div class="form-box">
        <span>
            @Model.FirstName @Model.LastName<br/><br/>
            login: @Model.Login
        </span>          
    </div>
</div>

<div class="text-center">
    <span>Váš účet bude plně aktivován při první návštěvě fitness centra.</span> 
</div>

<div class="form-group margin-top margin-bottom">
    <div class="text-center">
        <a href="@Url.Action("Index", "Home")" class="btn btn-info">Pokračovat <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>