<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rezervační systém fiktivního FitClubu SPIRIT Poděbrady">
    <meta name="author" content="Tomáš Skořepa">
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")">

    <title>@ViewBag.Title | FitSPIRIT</title>

    <!-- Globální Bootstrap CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <!-- Hlavní CSS -->
    <link href="@Url.Content("~/Content/stylesTomSkoRed.css")" rel="stylesheet">
    <!-- Pluginy CSS => Font Awesome, blueimp Gallery, BS 3 DatePicker od Eonasdan -->
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/blueimp-gallery/css/blueimp-gallery.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet">
    <!-- TomSko menší úpravy CSS -->
    <link href="@Url.Content("~/Content/cssTomSko.css")" rel="stylesheet">
    <!-- Predikce vyhledávání CSS-->
    <link href="https://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css" rel="stylesheet" type="text/css" />
    <!-- Fonty Open Sans z CDN Google https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <!-- HTML5Shiv a Respond.js - skripty pro aplikaci CSS na HTML5 elementy ve starších IE -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="home-page">
    <div class="wrapper">
        <header class="header">     
            <div class="header-main container">
                <h1 class="logo col-md-4 col-sm-4">
                    <a href="@Url.Action("Index", "Home")"><img id="logo" src="@Url.Content("~/Content/images/logoFitSpirit.png")" alt="FitSPIRIT"></a>
                </h1>
                <div class="info col-md-8 col-sm-8">
                    <ul class="menu-top navbar-right hidden-xs">
                        <li class="divider"><a href="@Url.Action("Index", "Home")">Úvod</a></li>
                        <li class="divider"><a href="@Url.Action("ProjectObjective", "Others")">FAQ</a></li>
                        <li class="divider"><a href="@Url.Action("PriceList", "Others")">Ceník</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                    <br/>
                    <div class="contact pull-right">
                        <p class="phone"><i class="fa fa-phone"></i>Volejte na +420 325 626 700</p>
                        <p class="email"><i class="fa fa-envelope"></i><a href="mailto:obsluha@fitspirit.cz">obsluha@fitspirit.cz</a></p>
                    </div>
                </div>
            </div>
        </header>
        <!-- ==== NAVIGACE ==== -->
        <nav class="main-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Rozbalit navigaci</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        @{Html.RenderAction("Index", "Menu");}                                             
                    </ul>
                </div>
            </div>
        </nav>
        <!-- ==== HLAVŇÍ OBSAH ==== -->
    <div class="content container">       
        <div class="page-wrapper">
            <header class="page-heading clearfix">
                <h1 class="heading-title pull-left">@ViewBag.Title</h1>
                <!-- ==== DROBEČKOVÁ NAVIGACE ==== -->
                <div class="breadcrumbs pull-right">
                    @RenderSection("Breadcrumbs", false)                   
                </div>
            </header>
            <div class="page-content">
                <div class="row page-row">
                    <div class="col-md-8 col-sm-7" id="dynamicContent">
                        <!-- Box pro notifikaci uživatele např. o úspěšném přidání trenéra, ... pomocí TempData -->
                        @if (TempData["message-success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                @TempData["message-success"]
                            </div>
                        }

                        <!-- Box pro notifikaci uživatele např. o NEúspěšném přidání trenéra, ... pomocí TempData -->
                        @if (TempData["message-error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
                                @TempData["message-error"]
                            </div>
                        }
                        
                        @RenderBody()

                    </div>
                    <aside class="page-sidebar col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                        <!-- ==== PANEL PROFIL UŽIVATELE ==== -->
                        <section class="widget has-divider ">
                            <h3 class="title col-md-offset-1" hidden="hidden">Profil uživatele</h3>
                            @{Html.RenderAction("ProfileBarAuthenticated", "SideBar");}
                        </section>
                        <!-- ==== PANEL NADCHÁZEJÍCÍ LEKCE ==== -->
                        <section class="events col-md-offset-1">
                            <h3 class="title">Nadcházející lekce</h3>
                            @{Html.RenderAction("EventsBarIndex", "SideBar");}
                        </section>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-3 col-sm-4 about">
                        <div class="footer-col-inner">
                            <h3>O nás</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Kdo jsme</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Kontaktujte nás</a></li>
                                <li><a href="@Url.Action("ProjectObjective", "Others")"><i class="fa fa-caret-right"></i>Cíle projektu</a></li>
                                <li><a href="@Url.Action("ImplementedFunctions", "Others")"><i class="fa fa-caret-right"></i>Implementované funkce</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col-md-3 col-sm-4 about">
                        <div class="footer-col-inner">
                            <h3>Pravidla</h3>
                            <ul>
                                <li><i class="fa fa-caret-right"></i>Počet rezervací je omezen hodnotou nabitého kreditu klienta.</li>
                                <li><i class="fa fa-caret-right"></i>Rezervaci lze zrušit nejdéle do 6 hodin před zahájením lekce.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col-md-3 col-sm-4 about">
                        <div class="footer-col-inner">
                            <h3>Otevírací doba</h3>
                            <table class="col-sm-8">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>PO - PÁ </td>
                                        <td>7:00 - 21:30</td>
                                    </tr>
                                    <tr>
                                        <td>SO</td>
                                        <td>9:00 - 20:00</td>
                                    </tr>
                                    <tr>
                                        <td>NE</td>
                                        <td>9:00 - 21:00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="footer-col col-md-3 col-sm-12 contact">
                        <div class="footer-col-inner">
                            <h3>Kontaktujte nás</h3>
                            <div class="row">
                                <p class="adr clearfix col-md-12 col-sm-4">
                                    <i class="fa fa-map-marker pull-left"></i>
                                    <span class="pull-left">
                                        U Struhy 1240<br/>
                                        Poděbrady<br/>
                                        290 01<br/>
                                        Česká republika
                                    </span>
                                </p>
                                <p class="col-md-12 col-sm-4"><i class="fa fa-phone"></i>+420 325 626 700</p>
                                <p class="col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="mailto:obsluha@fitspirit.cz">obsluha@fitspirit.cz</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @DateTime.Now.Year FitClub SPIRIT Poděbrady | Školní projekt <a href="mailto:tomik.sko@seznam.cz">Tomáš Skořepa</a></small>
                    <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                        <li><a href="https://www.facebook.com/FitSpirit"><i class="fa fa-facebook"></i></a></li>
                        <li class="row-end"><a href="https://www.youtube.com/user/FitSpiritgirls"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Tut -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- jQuery UI nutné k autocomplete -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <!-- Nutné k DatePickeru a Ajaxu -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.1.3.min.js")"></script>
    <!-- Nutné k Ajaxu -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftAjax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")"></script>
    <!-- Bootstrap hlavní-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!-- Unobtrusive validace formulářů -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <!-- BS 3 DateTimePicker od Eonasdan -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment/csTomSko.js")"></script>
    <!-- TinyMCE, blueimp Bootstrap Gallery -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/blueimp-gallery/js/jquery.blueimp-gallery.min.js")"></script>
    <!-- VLASTNÍ NASTAVENÍ => BS 3 DateTimePicker, TinyMCE -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins-configuration.js")"></script>
</body>
</html>