@model DataAccess.Model.Lesson
@{
    ViewBag.Title = "Nová lekce";
}

@using (Html.BeginForm("Add", "Lessons", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Čas zahájení</label>
        <div class="col-sm-10">
            <div class="input-group date" id='datetimepicker1'>
                @*@Html.TextBoxFor(x => x.StartTime, new {@class = "form-control", Name = "startTime"})*@
                @Html.ValidationMessageFor(x => x.StartTime)
                <!-- Suplováno validací HTML5 -->
                <input type="datetime" name="startTime" class="form-control" required title="Zadejte čas ve formátu dd.MM.rrrr H:mm."/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>              
            </div>           
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Čas ukončení</label>
        <div class="col-sm-10">
            <div class="input-group date" id='datetimepicker2'>
                @*@Html.TextBoxFor(x => x.EndTime, new {@class = "form-control", Name="endTime"})*@
                @*@Html.ValidationMessageFor(x => x.EndTime)*@
                <!-- Suplováno validací HTML5 -->
                <input type="datetime" name="endTime" class="form-control" required="required" title="Zadejte čas ve formátu dd.MM.rrrr H:mm." />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div> 
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Aktivita</label>
        <div class="col-sm-10">
            @Html.DropDownList("activityTypeId", new SelectList(ViewBag.ListActivityTypes, "Id", "Name"), new{@class="form-control"})
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Místo konání</label>
        <div class="col-sm-10">
            @Html.DropDownList("roomId", new SelectList(ViewBag.ListRooms, "Id", "Name"), new{@class="form-control"})
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Kapacita</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.OriginalCapacity, new {@class = "form-control", Name = "originalCapacity"})
            @Html.ValidationMessageFor(x => x.OriginalCapacity)
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Instruktor</label>
        <div class="col-sm-10">
            <input name="instructor" type="text" class="form-control" value="@ViewBag.Instructor.NameWithId" disabled="disabled">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Popis</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.DescriptionLesson, new { @class = "form-control tinymce" })
        </div>
    </div>
    
    <div class="form-group margin-top">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success pull-right margin-left"><span class="glyphicon glyphicon-ok"></span> Vytvořit</button>
            <button type="reset" class="btn btn-default pull-right margin-left"><span class="glyphicon glyphicon-repeat"></span> Reset</button>
            <a href="@Url.Action("Index", "Lessons", new { isActive = true })" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span> Zrušit</a>
        </div>
    </div>
}
